#screen {

    padding: 3px 2px 3px 3px;
    border: 3px solid blue;
    width: 401px;
    height: 400px;
    display: block;
}

.column {
    display: inline-block;
}

.cell {
    background-color: grey;
    display: block;
}